:root{
    --color--primary--dark:#31261A;
    --color--primary--light: #FAF4EA;
    --color--brand: #819B57;
    --color--brand--dark: #465929;
}
ul{
    list-style-type: none;;
}
body{
    color: var(--color--primary--dark);
}
.button{
    color:var(--color--primary--light);
    background-color: var(--color--brand);
    border: 2px solid var(--color--brand);
    border-radius: 8px;
    cursor:pointer;
    
}
.button:hover{
    color: var(--color--brand);
    background-color: transparent;

}
.button:active{
    color: var(--color--primary--light);
    background-color: var(--color--brand);
}
.link{
    color: var(--color--primary--light);

}
.link:hover{
    color: var(--color--brand);
}
.hero-title{
    color: var(--color--primary--light);
}
.actent{
    color: var(--color--brand);
}
.adventeges{
    background-color:var(--color--brand);
    color: var(--color--primary--light);
}
.section-title{
    color: var(--color--primary--dark);

}